* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.cal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    width: 350px;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.title {
    margin: auto;
}

.display {
    height: 200px;
}
#output {
    height: calc(100% - 50px);
    font-size: 40px;
    text-align: right;
    padding: 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icons {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    box-sizing: border-box;
}
.icons > div {
    width: 50px;
    height: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
#icon:active {
    background-color: lightgrey;
}

#equal:active {
    background-color: rgb(28, 104, 28);
}

hr {
    width: 90%;
    text-align: center;
    
}
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}
.btn {
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.733);
    cursor: default;

}
.row .btn:active {
    background: grey;
    color: white;
}

.row .btn.green {
    color: rgb(58, 173, 58)
}

.row .btn.clear {
    color: red;
}

.row .btn.equal {
    background: rgb(58, 173, 58);
    color: white
}

button {
    height: 70px;
    width: 70px;
    font-size: 40px;
    border-radius: 50%;
} 
